<div class="all-patients">
	<table class="all-patients_table">
		<thead>
			<tr>
				<td><%=_T("Name")%></td>
				<td><%=_T("Birth date")%></td>
				<td><%=_T("Sex")%></td>
				<td><%=_T("Insurance")%></td>
				<td><%=_T("Insurance number")%></td>
				<!-- <td><%=_T("Edit")%></td> -->
			</tr>
		</thead>
		<tbody>
			<% inmates.forEach(function (inmate) {
				var onclick = "window.all_patients.load('" + inmate.id + "');"%>
			<tr>
				<td><%= inmate.surname + " " + inmate.name + " " + inmate.second_name %></td>
				<td><%= inmate.date %></td>
				<td><%= _T(inmate.sex) %></td>
				<td><%= inmate.insurance %></td>
				<td><%= inmate.insurance_number %></td>
				<td> <input type="button" onclick="<%=onclick%>" value="<%=_T('Edit')%>" /> </td>
			</tr>
			<% }); %>
		</tbody>
	</table>
	<div class="all-patients_button button" onclick="window.menu.clearWorkspace();">
		<span class="all-patients_button_text"><%=_T("Cancel")%></span>
	</div>
</div>
