<div class="main-menu_entry button" onclick="window.menu.clearWorkspace();">
	<span><%=_T("Main")%></span>
</div>
<div class="main-menu_entry button" onclick="window.menu.showSettings();">
	<span><%=_T("Settings")%></span>
</div>
<div class="main-menu_separator">
</div>
<div class="main-menu_entry button" onclick="window.menu.showEditServey();">
	<span><%=_T("New servey")%></span>
</div>
<div class="main-menu_entry button">
	<span><%=_T("All serveys")%></span>
</div>
<div class="main-menu_entry button" onclick="window.menu.showEditPatient();">
	<span><%=_T("New patient")%></span>
</div>
<div class="main-menu_entry button" onclick="window.menu.showAllPatients();">
	<span><%=_T("All patients")%></span>
</div>
<div class="main-menu_entry button" onclick="window.menu.showEditDoctor();">
	<span><%=_T("New doctor")%></span>
</div>
<div class="main-menu_separator">
</div>
<div class="main-menu_entry button" onclick="window.menu.showHelp();">
	<span><%=_T("Help")%></span>
</div>
