<link rel="stylesheet" href="/css/print.css" type="text/css" />

<div class="servey-report">
	<h1>Заключение</h1>


	<%
		// Выводим название лечебного учериждения
		var settings = window.utils.syncAjax("/settings/get");
		if (settings["health facility"]) {
	%>

	<h3 contenteditable="true" class="servey-report-health-facility"><%= settings["health facility"] %></h3>

	<%
		}
	%>


	<%
		// Выводим название отделения
		if (settings["department"]) {
	%>

	<h4 contenteditable="true" class="servey-report-health-facility"><%= settings["department"] %></h4>

	<%
		}
	%>

	<%
		// Выводим информацию о пациенте.
		if (servey.patient_id) {
			var patient = window.utils.syncAjax("/inmate/get?id=" + servey.patient_id).inmates[0];
			var born = new Date(patient.date);
			var full_years = Math.floor((new Date() - born) / 1000 / 60 / 60 / 24 / 365);

	%>

	<p contenteditable="true">ФИО больного: <%=servey.patient %></p>
	<p contenteditable="true">Полных лет: <%= full_years %></p>

	<%
		}
	%>

	<%
		var types = {
			upper_arteries : "",
			lower_arteries : "",
			abdominal_aorta : "",
			lower_venous : "",
			head_arteries : "",
			breast : "",
			bladder : "",
			adrenal : "",
			parathyroid : "",
			abdomen : "органов брюшной полости и забрюшинного пространства",
			pelvic : "",
			scrotum : "",
			spleen : "",
			kidneys : "",
			renal_artery : "",
			prostate : "",
			salivary_glands : "",
			thyroid_gland : "",
			transcranial : "",
			echocardiography : ""
		}
		var is_first = true;
		var servey_type = "исследование ";
		for (var type in servey.types) {
			if (!is_first) servey_type += " и ";
			servey_type += types[type];
			is_first = false;
		}
		servey_type += ".";

	%>

	<p contenteditable="true">Дата исследования: <%= window.gettext.dateToLocal(servey.date) %></p>
	<p contenteditable="true">Вид исследования: <%= servey_type %></p>

	<div class="servey-report-types">

		<%
			$(".servey-report-types").append("<p>Test</p>");
			for (var type in servey.types) {
		%>

				<%= new EJS ({url : "/tmpl/report-" + type + ".ejs"}).render(servey.types[type]) %>
		<%
			}
		%>
	</div>

	<p contenteditable="true">Заключение: <%= servey.report %></p>
	<center>
		<p contenteditable="true">Врач _______________________________</p>
	</center>

</div>