<%
	var settings = window.utils.syncAjax("/settings/get");
%>

<script>

	function saveSettings (settings) {
		$.get("/settings/set?settings=" + JSON.stringify(settings));
	}

	function onLanguageChange (lang) {
		if (lang == "none")
			return;
		var settings = window.utils.syncAjax("/settings/get");
		settings.lang = lang;
		settings.empty = false;
		saveSettings(settings);
		window.gettext.setLanguage(lang);
	}

	function onHealthFacilityBlur () {
		var settings = window.utils.syncAjax("/settings/get");
		settings["health facility"] = $("#settings-health-facility").val();
		settings.empty = false;
		saveSettings(settings);
	}

	function onDepartmentBlur () {
		var settings = window.utils.syncAjax("/settings/get");
		settings["department"] = $("#settings-department").val();
		settings.empty = false;
		saveSettings(settings);
	}

	window.utils.loadTemplate("/tmpl/settings-machine.ejs", ".machine-field");

</script>

<div>
	<h1><%= _T("Settings")%></h1>
</div>

<div class="settings">
	<div class="settings-field">
		<span class="settings-field-label"><%=_T("Language")%></span>
		<select class="settings-field-input" onchange="onLanguageChange(this.options[this.selectedIndex].value)" >
			<option value="en" <%= settings.lang == "en" ? "selected" : "" %> ><%=_T("English")%></option>
			<option value="ru" <%= settings.lang == "ru" ? "selected" : "" %> ><%=_T("Russian")%></option>
		</select>
	</div>
	<div class="settings-field">
		<span class="settings-field-label"><%=_T("Health facility")%></span>
		<input class="settings-field-input" style="width: 56%;" id="settings-health-facility" value="<%=settings["health facility"] ? settings['health facility'] : '' %>" onblur="onHealthFacilityBlur()"/>
	</div>
	<div class="settings-field">
		<span class="settings-field-label"><%=_T("Department")%></span>
		<input class="settings-field-input" style="width: 56%;" id="settings-department" value="<%=settings["health facility"] ? settings['department'] : '' %>" onblur="onDepartmentBlur()"/>
	</div>
	<div class="settings-field machine-field">
	</div>
</div>